.social-links {
    margin-left: 0;
    @media screen and (min-width: 768px) {
        margin-left: 165px;
    }
    @media screen and (min-width: 1200px) {
        margin-left: 70px;
    }
    

    &__title {
        display: flex;
        justify-content: center;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--white-color);
        margin-bottom: 20px;
        
        @media screen and (min-width: 1200px) {
            justify-content: flex-start;
        }
    }

}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;

    &__item {
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}

.social-list__link {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms var(--timing-function);

    &:hover,
    &:focus {
        background-color: var(--color-blue);
    }
}

.social-list__icon {
    fill: var(--white-color);
    transition: fill 250ms var(--timing-function);

    .social-list__link:hover &,
    .social-list__link:focus & {
        fill: var(--white-color);
    }
}
