.team {
    background: var(--team-background-color);
}

.images-size {
    @media screen and (max-width: 479px) {
    width: calc(100vw - 30px);
    }
}

.team-list {
    list-style: none;
    margin-top: 30px;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
        margin-top: 50px;
    }

    &__card {
        width: 100%;
        background: var(--white-color);
        border-bottom: 1px;
        border-right: 1px;
        border-left: 1px;
        border-radius: 4px;
        padding-bottom: 30px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);

        @media screen and (min-width: 768px) {
            width: calc((100% - 30px) / 2);
        }
        
        @media screen and (min-width: 1200px) {
            max-width: 270px;
        }
    }

    &__card:not(:last-child) {
        margin-bottom: 30px;
        @media screen and (min-width: 768px) {
            margin-bottom: 0;
        }
    }

    &__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--text-color);
        margin-top: 30px;
    }

    &__text {
        font-size: 16px;
        line-height: 1.1875;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--grey-color);
        margin-top: 10px;
    }
}


.social-networks {
    list-style: none;
    gap: 10px;
    display: flex;
    justify-content: center;
    margin-top: 16px;
    max-width: 100%;

    &__item {
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}

.social-networks__link {
    width: 100%;
    height: 100%;
    background-color: var(--white-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms var(--timing-function);

    &:hover,
    &:focus {
        background-color: var(--color-blue);
    }
}

.social-networks__icon {
    fill: var(--team-soc-icons);
    transition: fill 250ms var(--timing-function);

    .social-networks__link:hover &,
    .social-networks__link:focus & {
        fill: var(--white-color);
    }
}
