:root {
    --color-blue: #2196F3;
    --text-color: #212121;
    --white-color: #ffffff;
    --grey-color: #757575;
    --communication-color: rgba(255, 255, 255, 0.6);
    --feature-background-color: #F5F5F5;
    --team-background-color: #F5F4FA;
    --hero-background-color: #2F303A;
    --border-color: #eeeeee;
    --header-border-color: #ECECEC;
    --team-soc-icons: #AFB1B8;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --gradient: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4))
}